type=dhcp-client
vm-auth-key=123456789012345
panorama-server=10.1.2.3
panorama-server-2=10.1.2.4
tplname=my-stack
dgname=my-device-group
dhcp-send-hostname=yes
dhcp-send-client-id=yes
dhcp-accept-server-hostname=yes
dhcp-accept-server-domain=yes
